<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container register-container">
    <div class="login-card card col-md-7">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="register-body login-body">
            <div class="brand-wrapper col-md-12">
              <img
                src="assets/images/dst/anid/anid_rojo_azul.png"
                class="rounded mx-auto d-block"
                style="max-width: 150px"
                alt="logo"
              />
            </div>
            <div class="text-center col-md-12">
              <span class="titulo2">Crea Nuevo Usuario</span>
            </div>

            <form class="login-form mt-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Tu correo <span class="text-danger">*</span></label>
                  <img src="assets/icon/email.svg" class="login-icons" alt="icono email" />
                  <input
                    type="email"
                    class="form-control psl-5"
                    [class.is-invalid]="isInvalid('correoElectronico')"
                    formControlName="correoElectronico"
                    placeholder="Ejemplo@correo.cl"
                  />
                  @if (errorFor('correoElectronico')) {
                    <div class="invalid-feedback d-block">{{ errorFor('correoElectronico') }}</div>
                  }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Teléfono</label>
                  <input
                    type="tel"
                    class="form-control"
                    [class.is-invalid]="isInvalid('numeroDeTelefono')"
                    formControlName="numeroDeTelefono"
                    placeholder="+56912345678"
                  />
                  @if (errorFor('numeroDeTelefono')) {
                    <div class="invalid-feedback d-block">{{ errorFor('numeroDeTelefono') }}</div>
                  }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Nacionalidad <span class="text-danger">*</span></label>
                  <img src="assets/icon/pais.svg" class="login-icons" alt="icono nacionalidad" />
                  <select
                    class="form-control form-select psl-5"
                    [class.is-invalid]="isInvalid('nacionalidad')"
                    formControlName="nacionalidad"
                  >
                    @for (option of nacionalidadOptions; track option.value) {
                      <option [value]="option.value">{{ option.label }}</option>
                    }
                  </select>
                  @if (errorFor('nacionalidad')) {
                    <div class="invalid-feedback d-block">{{ errorFor('nacionalidad') }}</div>
                  }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Tipo de Usuario <span class="text-danger">*</span></label>
                  <img src="assets/icon/person_outline.svg" class="login-icons" alt="icono usuario" />
                  <select
                    class="form-control form-select psl-5"
                    [class.is-invalid]="isInvalid('tipoDeUsuario')"
                    formControlName="tipoDeUsuario"
                  >
                    @for (option of tipoDeUsuarioOptions; track option.value) {
                      <option [value]="option.value">{{ option.label }}</option>
                    }
                  </select>
                  @if (errorFor('tipoDeUsuario')) {
                    <div class="invalid-feedback d-block">{{ errorFor('tipoDeUsuario') }}</div>
                  }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Documento de Identidad <span class="text-danger">*</span></label>
                  <select
                    class="form-control form-select"
                    [class.is-invalid]="isInvalid('documentoDeIdentidad')"
                    formControlName="documentoDeIdentidad"
                  >
                    <option value="">Selecciones..</option>
                    @for (option of documentoDeIdentidadOptions; track option.value) {
                      <option [value]="option.value">{{ option.label }}</option>
                    }
                  </select>
                  @if (errorFor('documentoDeIdentidad')) {
                    <div class="invalid-feedback d-block">{{ errorFor('documentoDeIdentidad') }}</div>
                  }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Número de Documento <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-invalid]="isInvalid('numeroDeDocumento')"
                    formControlName="numeroDeDocumento"
                    placeholder="Ej: xxxxxxxxx"
                  />
                  @if (errorFor('numeroDeDocumento')) {
                    <div class="invalid-feedback d-block">{{ errorFor('numeroDeDocumento') }}</div>
                  }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Código Validador Documento <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-invalid]="isInvalid('codigoValidadorDocumento')"
                    formControlName="codigoValidadorDocumento"
                    placeholder="Ej: x"
                  />
                  @if (errorFor('codigoValidadorDocumento')) {
                    <div class="invalid-feedback d-block">{{ errorFor('codigoValidadorDocumento') }}</div>
                  }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Primer Nombre <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-invalid]="isInvalid('primerNombre')"
                    formControlName="primerNombre"
                    placeholder="Ingrese su primer nombre"
                  />
                  @if (errorFor('primerNombre')) {
                    <div class="invalid-feedback d-block">{{ errorFor('primerNombre') }}</div>
                  }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Segundo Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="segundoNombre"
                    placeholder="Ingrese su segundo nombre"
                  />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Primer Apellido <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-invalid]="isInvalid('primerApellido')"
                    formControlName="primerApellido"
                    placeholder="Ingrese su primer apellido"
                  />
                  @if (errorFor('primerApellido')) {
                    <div class="invalid-feedback d-block">{{ errorFor('primerApellido') }}</div>
                  }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Segundo Apellido</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="segundoApellido"
                    placeholder="Ingrese su segundo apellido"
                  />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group position-relative">
                  <label>Sexo Declarativo <span class="text-danger">*</span></label>
                  <img src="assets/icon/sexo.svg" class="login-icons" alt="icono género" />
                  <select
                    class="form-control form-select psl-5"
                    [class.is-invalid]="isInvalid('sexoDeclarativo')"
                    formControlName="sexoDeclarativo"
                  >
                    <option value="">Seleccione...</option>
                    @for (option of sexoDeclarativoOptions; track option.value) {
                      <option [value]="option.value">{{ option.label }}</option>
                    }
                  </select>
                  @if (errorFor('sexoDeclarativo')) {
                    <div class="invalid-feedback d-block">{{ errorFor('sexoDeclarativo') }}</div>
                  }
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Sexo Registral <span class="text-danger">*</span></label>
                    <img src="assets/icon/sexo.svg" class="login-icons" alt="icono género" />
                    <select
                      class="form-control form-select psl-5"
                      [class.is-invalid]="isInvalid('sexoRegistral')"
                      formControlName="sexoRegistral"
                    >
                      <option value="">Selecciones..</option>
                      @for (option of sexoRegistralOptions; track option.value) {
                        <option [value]="option.value">{{ option.label }}</option>
                      }
                    </select>
                    @if (errorFor('sexoRegistral')) {
                      <div class="invalid-feedback d-block">{{ errorFor('sexoRegistral') }}</div>
                    }
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Fecha de Nacimiento <span class="text-danger">*</span></label>
                    <input
                      type="date"
                      class="form-control custom-date"
                      [class.is-invalid]="isInvalid('fechaDeNacimiento')"
                      formControlName="fechaDeNacimiento"
                    />
                    @if (errorFor('fechaDeNacimiento')) {
                      <div class="invalid-feedback d-block">{{ errorFor('fechaDeNacimiento') }}</div>
                    }
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Contraseña <span class="text-danger">*</span></label>
                    <img src="assets/icon/https.svg" class="login-icons" alt="icono candado" />
                    <input
                      type="password"
                      class="form-control psl-5"
                      [class.is-invalid]="isInvalid('password')"
                      formControlName="password"
                      placeholder="Contraseña"
                    />
                    @if (errorFor('password')) {
                      <div class="invalid-feedback d-block">{{ errorFor('password') }}</div>
                    }
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Repetir Contraseña <span class="text-danger">*</span></label>
                    <img src="assets/icon/https.svg" class="login-icons" alt="icono candado" />
                    <input
                      type="password"
                      class="form-control psl-5"
                      [class.is-invalid]="isInvalid('confirmaPassword')"
                      formControlName="confirmaPassword"
                      placeholder="Repetir Contraseña"
                    />
                    @if (errorFor('confirmaPassword')) {
                      <div class="invalid-feedback d-block">{{ errorFor('confirmaPassword') }}</div>
                    }
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="customCheck1"
                        [class.is-invalid]="isInvalid('terminosYCondiciones')"
                        formControlName="terminosYCondiciones"
                      />
                      <label class="form-check-label" for="customCheck1">
                        Acepto
                        <a href="javascript:void(0)" class="text-enlace">Términos y condiciones</a>
                      </label>
                    </div>
                    @if (errorFor('terminosYCondiciones')) {
                      <div class="invalid-feedback d-block">{{ errorFor('terminosYCondiciones') }}</div>
                    }
                  </div>
                </div>

                @if (error) {
                  <div class="alert alert-danger mb-3 msl-3">{{ error }}</div>
                }

                <div class="col-md-12 text-center">
                  <button
                    class="btn anid-btn-primary auth-form-btn btn_ext"
                    [disabled]="loading || loadingCatalogs"
                    type="submit"
                  >
                    {{ loading ? 'Registrando...' : 'Registrarse' }}
                  </button>
                </div>

                <div class="mx-auto text-center">
                  <p class="mb-0 mt-3">
                    <small class="text-dark msr-2">¿Ya tienes una cuenta?</small>
                    <a routerLink="/authentication/signin" class="text-enlace fw-bold">Iniciar Sesion</a>
                  </p>
                </div>
              </div>
            </form>

            <div class="mt-3 text-center">
              <a class="text-enlace" routerLink="/authentication/signin">Volver al Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row linkempresa">
      <div class="text-center">
        <p>
          <a class="link-opacity-10" href="https://ayuda.anid.cl">Departamento de Tecnologia y Procesos</a>
        </p>
      </div>
    </div>
  </div>
</main>
