<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <a routerLink="/paneles/estadisticas-usuarios" class="breadcrumb-p">
        {{ texts.breadcrumbHome }}
      </a>
    </li>
    <li class="breadcrumb-item bcrumb-1">{{ texts.breadcrumbDomain }}</li>
    <li class="breadcrumb-item">{{ texts.breadcrumbCurrent }}</li>
  </ul>

  <div class="section-body">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="p-10">
            <div class="row">
              <div class="col-lg-8">
                <div class="row m-0">
                  <div class="col-lg-12 p-0">
                    <div class="ngxTableHeader">
                      <div class="table-search-area search-container">
                        <span class="me-2 fw-bold">{{ texts.searchLabel }}</span>
                        <label for="search-input-organizacion">
                          <img src="assets/icon/Lupa.svg" class="search-icon" [attr.alt]="texts.searchIconAlt">
                        </label>
                        <input
                          id="search-input-organizacion"
                          type="text"
                          class="browser-default search-field"
                          [value]="organizacionSearchTerm()"
                          [placeholder]="texts.searchPlaceholder"
                          (input)="onOrganizacionSearchChange($any($event.target).value)"
                        >
                      </div>

                      <div class="header-buttons-left">
                        <div class="tbl-btn-style">
                          @if (hasOrganizacionSearchTerm()) {
                            <button
                              type="button"
                              class="btn-icon icon-left btn-light rounded-button"
                              [attr.title]="texts.clearSearchAction"
                              [attr.aria-label]="texts.clearSearchAction"
                              (click)="clearOrganizacionSearch()"
                            >
                              <svg [attr.viewBox]="icons.clear.viewBox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                @for (path of icons.clear.paths; track path) {
                                  <path [attr.d]="path" fill="currentColor"></path>
                                }
                              </svg>
                            </button>
                          }

                          <button
                            type="button"
                            class="btn-icon icon-left btn-primary1 rounded-button"
                            (click)="openCreateOrganizacionDialog(organizacionDialog)"
                          >
                            <svg [attr.viewBox]="icons.create.viewBox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              @for (path of icons.create.paths; track path) {
                                <path [attr.d]="path" fill="currentColor"></path>
                              }
                            </svg>
                          </button>

                          <button
                            [hidden]="!hasSelectedOrganizacionRows()"
                            type="button"
                            class="btn-icon icon-left btn-danger rounded-button"
                            [disabled]="processingOrganizacionId() === 'bulk'"
                            (click)="confirmDeleteSelectedOrganizacionRows()"
                          >
                            <svg [attr.viewBox]="icons.delete.viewBox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              @for (path of icons.delete.paths; track path) {
                                <path [attr.d]="path" fill="currentColor"></path>
                              }
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            @if (organizacionPageError()) {
              <div class="alert alert-danger">{{ organizacionPageError() }}</div>
            }

            <ngx-datatable
              #table
              class="material"
              [rows]="filteredOrganizacionRows()"
              [loadingIndicator]="loadingOrganizacionPage()"
              columnMode="force"
              [headerHeight]="config.tableHeaderHeight"
              [footerHeight]="config.tableFooterHeight"
              rowHeight="auto"
              [limit]="organizacionPageLimit()"
              [scrollbarH]="scrollBarHorizontal"
              [reorderable]="true"
            >
              <ngx-datatable-row-detail [rowHeight]="config.detailRowHeight" #myDetailRow (toggle)="onOrganizacionDetailToggle($event)">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div style="padding-left:35px;">
                    <div class="col-11 col-md-11 col-lg-11">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>{{ texts.detail.id }}</label>
                            <input type="text" class="form-control" readonly value="{{ row.id }}">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>{{ texts.detail.idOrganizacion }}</label>
                            <input type="text" class="form-control" readonly value="{{ row.idOrganizacion }}">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label>{{ texts.detail.organizacionBase }}</label>
                            <input type="text" class="form-control" readonly value="{{ row.organizacionBase ? texts.status.yes : texts.status.no }}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>

              <ngx-datatable-column [width]="40" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <a
                    href="javascript:void(0)"
                    [class.datatable-icon-right]="!expanded"
                    [class.datatable-icon-down]="expanded"
                    [attr.title]="texts.detailToggleTitle"
                    (click)="toggleOrganizacionDetail(row)"
                  >
                    <svg [attr.viewBox]="icons.expandMore.viewBox" fill="none" xmlns="http://www.w3.org/2000/svg">
                      @for (path of icons.expandMore.paths; track path) {
                        <path [attr.d]="path" fill="currentColor"></path>
                      }
                    </svg>
                  </a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
                [width]="60"
                [sortable]="false"
                [draggable]="false"
                [resizeable]="false"
                [canAutoResize]="false"
              >
                <ng-template ngx-datatable-header-template>
                  <input
                    type="checkbox"
                    [checked]="areAllOrganizacionRowsSelected()"
                    (change)="onOrganizacionToggleAllSelection($any($event.target).checked)"
                  >
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <input
                    type="checkbox"
                    [checked]="isOrganizacionRowSelected(row)"
                    (change)="onOrganizacionToggleSelection(row, $any($event.target).checked)"
                  >
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [name]="texts.columns.codigo" [width]="70">
                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.codigo }}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [name]="texts.columns.nombre" [width]="90">
                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.nombre }}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [name]="texts.columns.descripcion" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.descripcion }}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [name]="texts.columns.activo" [width]="60">
                <ng-template let-row="row" ngx-datatable-cell-template>{{ getOrganizacionStatusLabel(row) }}</ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [name]="texts.columns.acciones" [sortable]="false" [width]="220">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span class="d-inline-flex align-items-center flex-nowrap">
                    @if (organizacionActionVisibility.traceability && canViewOrganizacionTraceability()) {
                      <button
                        class="btn h-auto btn-tbl-edit"
                        [title]="texts.actions.traceability"
                        (click)="openOrganizacionTraceability(row)"
                      >
                        <svg width="24" height="24" [attr.viewBox]="icons.traceability.viewBox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          @for (path of icons.traceability.paths; track path) {
                            <path [attr.d]="path" fill="currentColor"></path>
                          }
                        </svg>
                      </button>
                    }

                    @if (!row.organizacionBase) {
                      @if (organizacionActionVisibility.edit) {
                        <button
                          class="btn btn-tbl-edit h-auto"
                          title="{{ texts.actions.edit }}"
                          [disabled]="isOrganizacionRowBusy(row)"
                          (click)="openEditOrganizacionDialog(row, organizacionDialog)"
                        >
                          <svg width="24" height="24" [attr.viewBox]="icons.edit.viewBox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            @for (path of icons.edit.paths; track path) {
                              <path [attr.d]="path" fill="currentColor"></path>
                            }
                          </svg>
                        </button>
                      }

                      @if (organizacionActionVisibility.delete) {
                        <button
                          class="btn btn-tbl-delete h-auto"
                          title="{{ texts.actions.delete }}"
                          [disabled]="isOrganizacionRowBusy(row)"
                          (click)="confirmDeleteOrganizacion(row)"
                        >
                          <svg width="24" height="24" [attr.viewBox]="icons.delete.viewBox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            @for (path of icons.delete.paths; track path) {
                              <path [attr.d]="path" fill="currentColor"></path>
                            }
                          </svg>
                        </button>
                      }

                      @if (organizacionActionVisibility.toggleStatus) {
                        @if (!row.activo) {
                          <button
                            class="btn h-auto tblEditBtn1"
                            title="{{ texts.actions.activate }}"
                            [disabled]="isOrganizacionRowBusy(row)"
                            (click)="toggleOrganizacionStatus(row)"
                          >
                            <svg width="24" height="24" [attr.viewBox]="icons.activate.viewBox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              @for (path of icons.activate.paths; track path) {
                                <path [attr.d]="path" fill="currentColor"></path>
                              }
                            </svg>
                          </button>
                        } @else {
                          <button
                            class="btn h-auto tblDelBtn2"
                            title="{{ texts.actions.deactivate }}"
                            [disabled]="isOrganizacionRowBusy(row)"
                            (click)="toggleOrganizacionStatus(row)"
                          >
                            <svg width="24" height="24" [attr.viewBox]="icons.deactivate.viewBox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              @for (path of icons.deactivate.paths; track path) {
                                <path [attr.d]="path" fill="currentColor"></path>
                              }
                            </svg>
                          </button>
                        }
                      }
                    }
                  </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-footer>
                <ng-template
                  ngx-datatable-footer-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-curPage="curPage"
                >
                  <div class="d-flex w-100 align-items-center px-3 gap-3 flex-nowrap">
                    <div class="fw-bold text-dark mb-0 flex-shrink-0">
                      {{ selectedOrganizacionCount() }} {{ texts.footer.selectedLabel }} / {{ organizacionRows().length }} {{ texts.footer.totalLabel }}
                    </div>

                    <div class="d-flex flex-grow-1 justify-content-center">
                      <datatable-pager
                        [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        (change)="onOrganizacionPageChange($event)"
                      ></datatable-pager>
                    </div>

                    <div class="d-flex align-items-center gap-2 flex-shrink-0 flex-nowrap">
                      <label class="d-flex align-items-center gap-2 mb-0 flex-nowrap">
                        <span>{{ texts.footer.rowsPerPage }}</span>
                        <select
                          class="form-select form-select-sm"
                          [value]="organizacionPageLimit()"
                          (change)="changeOrganizacionPageLimit($any($event.target).value)"
                        >
                          @for (pageSize of organizacionPageSizeOptions; track pageSize) {
                            <option [value]="pageSize">{{ pageSize }}</option>
                          }
                        </select>
                      </label>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>

            @if (!loadingOrganizacionPage() && !filteredOrganizacionRows().length) {
              <div class="alert alert-light border mt-3 mb-0">
                <strong>{{ texts.emptyTitle }}</strong> {{ texts.emptyDescription }}
              </div>
            }

            <ng-template #organizacionDialog let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <div class="modal-about">
                      <div class="fw-bold p-t-10 font-17">
                        {{ isOrganizacionCreateMode() ? texts.modal.createTitle : texts.modal.editTitle }}
                      </div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" [attr.aria-label]="texts.modalCloseAction" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>

              <div class="modal-body">
                @if (organizacionDialogError()) {
                  <div class="alert alert-danger">{{ organizacionDialogError() }}</div>
                }

                <form class="register-form" [formGroup]="organizacionForm" (ngSubmit)="saveOrganizacionForm(modal)">
                  <input formControlName="id" class="form-control" type="hidden">

                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                      <label>{{ texts.fields.idOrganizacion }}</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                      <input
                        type="text"
                        class="form-control"
                        [placeholder]="texts.placeholders.idOrganizacion"
                        formControlName="idOrganizacion"
                      >
                    </div>
                  </div>

                  @if (isOrganizacionCreateMode()) {
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                        <label>{{ texts.fields.codigo }} <span class="text-danger">*</span></label>
                      </div>
                      <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                        <input
                          type="text"
                          class="form-control"
                          [placeholder]="texts.placeholders.codigo"
                          formControlName="codigo"
                        >
                        @if (isOrganizacionFormControlInvalid('codigo')) {
                          <small class="form-text text-danger">{{ getOrganizacionFormControlError('codigo') }}</small>
                        }
                      </div>
                    </div>
                  }

                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                      <label>{{ texts.fields.nombre }} <span class="text-danger">*</span></label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                      <input
                        type="text"
                        class="form-control"
                        [placeholder]="texts.placeholders.nombre"
                        formControlName="nombre"
                      >
                      @if (isOrganizacionFormControlInvalid('nombre')) {
                        <small class="form-text text-danger">{{ getOrganizacionFormControlError('nombre') }}</small>
                      }
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                      <label>{{ texts.fields.descripcion }}</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                      <input
                        type="text"
                        class="form-control"
                        [placeholder]="texts.placeholders.descripcion"
                        formControlName="descripcion"
                      >
                    </div>
                  </div>

                  <div class="modal-footer d-flex justify-content-center align-items-center gap-2 flex-nowrap">
                    <button type="button" class="btn btn-light flex-shrink-0" [disabled]="savingOrganizacionForm()" (click)="resetOrganizacionForm()">
                      {{ texts.actions.clear }}
                    </button>
                    <button type="button" class="btn btn-light flex-shrink-0" [disabled]="savingOrganizacionForm()" (click)="modal.dismiss()">
                      {{ texts.actions.cancel }}
                    </button>
                    <button type="submit" class="btn btn-primary flex-shrink-0" [disabled]="savingOrganizacionForm() || organizacionForm.invalid">
                      {{ isOrganizacionCreateMode() ? texts.actions.saveCreate : texts.actions.saveEdit }}
                    </button>
                  </div>
                </form>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
