<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
            <a routerLink="/paneles/estadisticas-usuarios" class="breadcrumb-p">
              Home
            </a>
        </li>
        <li class="breadcrumb-item bcrumb-1">
            Administración
        </li>
        <li class="breadcrumb-item">Entidades</li>
    </ul>
    <div class="section-body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="p-10">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row m-0">
                                    <div class="col-auto p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-title">
                                                <h2><strong>Entidades</strong></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-search-area search-container">

                                                    <label for="search-input"><img src="assets/icon/Lupa.svg" class="search-icon" alt="icono Lupa"></label>
                                                    <input placeholder="{{'HEADER.SEARCH.TEXT' | translate}}" type="text"
                                                        class="browser-default search-field"
                                                        (keyup)='filterDatatable($event)' aria-label="Search box">

                                            </div>
                                            <div class="header-buttons-left">
                                                <div class="tbl-btn-style">
                                                    <button class="btn-icon icon-left btn-primary1 rounded-button"
                                                        (click)='addRow(addRecord)'>
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="currentColor"/>
                                                        </svg>
                                                    </button>
                                                    <button [hidden]=!isRowSelected
                                                        class="btn-icon icon-left btn-danger rounded-button"
                                                        (click)='deleteSelected()'>
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9ZM15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5Z" fill="currentColor"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ngx-datatable #table class="material" [rows]="data" [loadingIndicator]="loadingIndicator"
                            columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                            [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                            [selectionType]="selection" (select)='onSelect($event)'>

                            <!-- Row Detail Template -->
                            <ngx-datatable-row-detail [rowHeight]="200" #myDetailRow (toggle)="onDetailToggle($event)">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                    <div style="padding-left:35px;">
                                        <div class="col-11 col-md-11 col-lg-11">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Id</label>
                                                        <input type="text" class="form-control" readonly="" value="{{row.id}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>IdEntidad</label>
                                                        <input type="text" class="form-control" readonly="" value="{{row.idEntidad}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               </ng-template>
                            </ngx-datatable-row-detail>

                            <ngx-datatable-column [width]="40" [resizeable]="false" [sortable]="false"
                                [draggable]="false" [canAutoResize]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                        [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                        (click)="toggleExpandRow(row)">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.59 8.29501L12 12.875L7.41 8.29501L6 9.70501L12 15.705L18 9.70501L16.59 8.29501Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [width]="60" [sortable]="false" [draggable]="false"
                                [resizeable]="false" [canAutoResize]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Tipo Entidad" [width]="60">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.tipoEntidad}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Codigo" [width]="40">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.codigo}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Nombre" [width]="120">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.nombre}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Descripcion" [width]="80">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.descripcion}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Activo" [width]="50">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.activo == true ? 'Verdadero' : 'Falso'}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Acciones" [sortable]="false">
                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                    ngx-datatable-cell-template>
                                    <span>
                                        <button class="btn btn-tbl-edit h-auto"
                                            title="Modificar Entidad"
                                            (click)='editRow(row, rowIndex, editRecord)'>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.99878 17.25V21H6.74878L17.8088 9.94L14.0588 6.19L2.99878 17.25ZM5.91878 19H4.99878V18.08L14.0588 9.02L14.9788 9.94L5.91878 19ZM20.7088 5.63L18.3688 3.29C18.1688 3.09 17.9188 3 17.6588 3C17.3988 3 17.1488 3.1 16.9588 3.29L15.1288 5.12L18.8788 8.87L20.7088 7.04C21.0988 6.65 21.0988 6.02 20.7088 5.63Z" fill="currentColor"/>
                                            </svg>
                                        </button>
                                        <button
                                            title="Eliminar Entidad"
                                            class="btn btn-tbl-delete h-auto" (click)='deleteSingleRow(row)'>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9ZM15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5Z" fill="currentColor"/>
                                            </svg>
                                        </button>
                                        @if (!row.activo) {
                                            <button class="btn h-auto tblDelBtn2"
                                                title="Activar Entidad"
                                                (click)='activarRow(row)'>
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20.71 16.465L17.34 13.085C17.98 13.305 18.57 13.565 19.11 13.845C20.08 14.355 20.69 15.365 20.71 16.465ZM21.9 20.485L20.49 21.895L17.88 19.295H4.70998V16.515C4.70998 15.395 5.31998 14.365 6.31998 13.855C7.60998 13.195 9.18997 12.635 10.99 12.405L2.09998 3.51501L3.50998 2.10501L21.9 20.485ZM15.88 17.295L12.88 14.295C12.82 14.295 12.77 14.295 12.71 14.295C10.34 14.295 8.41998 15.025 7.22998 15.635C6.90998 15.795 6.70998 16.135 6.70998 16.515V17.295H15.88ZM12.71 5.29501C13.81 5.29501 14.71 6.19501 14.71 7.29501C14.71 8.15501 14.17 8.88501 13.41 9.16501L14.89 10.645C15.99 9.93501 16.71 8.69501 16.71 7.29501C16.71 5.08501 14.92 3.29501 12.71 3.29501C11.31 3.29501 10.07 4.01501 9.35998 5.11501L10.84 6.59501C11.12 5.83501 11.85 5.29501 12.71 5.29501Z" fill="currentColor"/>
                                                </svg>
                                            </button>
                                        }
                                        @else {
                                            <button class="btn h-auto tblEditBtn1"
                                                title="Desactivar Entidad"
                                                (click)='desactivarRow(row)'>
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 5.9C13.16 5.9 14.1 6.84 14.1 8C14.1 9.16 13.16 10.1 12 10.1C10.84 10.1 9.9 9.16 9.9 8C9.9 6.84 10.84 5.9 12 5.9ZM12 14.9C14.97 14.9 18.1 16.36 18.1 17V18.1H5.9V17C5.9 16.36 9.03 14.9 12 14.9ZM12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM12 13C9.33 13 4 14.34 4 17V20H20V17C20 14.34 14.67 13 12 13Z" fill="currentColor"/>
                                                </svg>
                                            </button>
                                        }
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                        <!-- Add Record Modal Window -->
                        <ng-template #addRecord let-modal>
                            <div class="modal-header editRowModal">
                                <h4 class="modal-title" id="modal-basic-title">
                                    <div class="table-modal-header">
                                        <div class="modal-about">
                                            <div class="fw-bold p-t-10 font-17">
                                                Nueva Entidad</div>
                                        </div>
                                    </div>
                                </h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)">
                                    <div class="input-field col s12 d-none">
                                        <input formControlName="id" class="form-control" type="hidden">
                                    </div>
                                    <div class="input-field col s12 d-none">
                                        <input formControlName="img" class="form-control" type="hidden">
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Tipo Entidad <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <select class="form-select form-control" formControlName="tipoEntidad"
                                                required>
                                                <option value="" selected disabled>Seleccione...</option>
                                                @for (tipoEntidad of tipoEntidadType; track tipoEntidad) {
                                                <option [value]="tipoEntidad.value">
                                                    {{tipoEntidad.value}}
                                                </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Entidad Superior <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <select class="form-select form-control" formControlName="entidadSuperior"
                                                required>
                                                <option value="" selected disabled>Seleccione...</option>
                                                @for (entidad of entidadesExistentesType; track entidadesExistentesType) {
                                                <option [value]="entidad.value">
                                                    {{entidad.value}}
                                                </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Id Entidad <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="IdEntidad"
                                               formControlName="idEntidad" required>
                                                @if (!register.get('idEntidad')?.valid &&
                                                register.get('idEntidad')?.touched) {
                                                <small class="form-text text-danger"> Id Entidad es requerido</small>
                                                }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Codigo <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Codigo"
                                               formControlName="codigo" required>
                                                @if (!register.get('codigo')?.valid &&
                                                register.get('codigo')?.touched) {
                                                <small class="form-text text-danger"> Codigo es requerido</small>
                                                }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Nombre <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Nombre"
                                            formControlName="nombre" required>
                                                @if (!register.get('nombre')?.valid &&
                                                register.get('nombre')?.touched) {
                                                <small class="form-text text-danger"> Nombre es requerido</small>
                                                }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Descripcion</label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Descripcion"
                                                formControlName="descripcion" required>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary"
                                            [disabled]="!register.valid">Enviar</button>
                                        <button type="button" class="btn btn-light"
                                            (click)="modal.close('Close click')">Cerrar</button>
                                    </div>
                                </form>
                            </div>
                        </ng-template>

                        <!-- Edit Record Modal Window -->
                        <ng-template #editRecord let-modal>
                            <div class="modal-header editRowModal">
                                <h4 class="modal-title" id="modal-basic-title">
                                    <div class="table-modal-header">
                                        <div class="modal-about">
                                            <div class="fw-bold p-t-10 font-17">
                                                Editar Entidad
                                            </div>
                                        </div>
                                    </div>
                                </h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="register-form"[formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
                                    <div class="input-field col s12 d-none">
                                        <input formControlName="id" class="form-control" type="hidden">
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Tipo Entidad <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <select class="form-select form-control" formControlName="tipoEntidad"
                                                required>
                                                <option value="" selected disabled>Seleccione...</option>
                                                @for (tipoEntidad of tipoEntidadType; track tipoEntidad) {
                                                <option [value]="tipoEntidad.value">
                                                    {{tipoEntidad.value}}
                                                </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Id Entidad <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="IdEntidad"
                                               formControlName="idEntidad" required>
                                                @if (!register.get('idEntidad')?.valid &&
                                                register.get('idEntidad')?.touched) {
                                                <small class="form-text text-danger"> Id Entidad es requerido</small>
                                                }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Codigo <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Codigo"
                                               formControlName="codigo" required>
                                                @if (!register.get('codigo')?.valid &&
                                                register.get('codigo')?.touched) {
                                                <small class="form-text text-danger"> Codigo es requerido</small>
                                                }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Nombre <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Nombre"
                                            formControlName="nombre" required>
                                                @if (!register.get('nombre')?.valid &&
                                                register.get('nombre')?.touched) {
                                                <small class="form-text text-danger"> Nombre es requerido</small>
                                                }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Descripcion</label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Descripcion"
                                                formControlName="descripcion" required>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary"
                                            [disabled]="!editForm.valid">Guardar</button>
                                        <button type="button" class="btn btn-light"
                                            (click)="modal.close()">Cerrar</button>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

