<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
            <a routerLink="/paneles/estadisticas-usuarios" class="breadcrumb-p">
              Home
            </a>
        </li>
        <li class="breadcrumb-item bcrumb-1">
            Administración
        </li>
        <li class="breadcrumb-item">Valida Asignacion de Rol a Perfil-Entidad</li>
    </ul>
    <div class="section-body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="p-10">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row m-0">
                                    <div class="col-auto p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-title">
                                                <h2><strong>Asignaciones</strong></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-search-area search-container">
                                                <img src="assets/icon/Lupa.svg" class="search-icon" alt="icono Lupa">
                                                <input
                                                    placeholder="{{'HEADER.SEARCH.TEXT' | translate}}"
                                                    type="text"
                                                    class="browser-default search-field"
                                                    (keyup)='filterDatatable($event)'
                                                    aria-label="Search box">
                                            </div>
                                            <div class="header-buttons-left">
                                                <div class="tbl-btn-style">
                                                    <button [hidden]=!isRowSelected
                                                        class="btn h-auto tblEditBtn"
                                                        title="Activar Usuario"
                                                        (click)='activarRowSeleccionadas()'>
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 5.9C13.16 5.9 14.1 6.84 14.1 8C14.1 9.16 13.16 10.1 12 10.1C10.84 10.1 9.9 9.16 9.9 8C9.9 6.84 10.84 5.9 12 5.9ZM12 14.9C14.97 14.9 18.1 16.36 18.1 17V18.1H5.9V17C5.9 16.36 9.03 14.9 12 14.9ZM12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM12 13C9.33 13 4 14.34 4 17V20H20V17C20 14.34 14.67 13 12 13Z" fill="currentColor"/>
                                                        </svg>
                                                    </button>
                                                    <button [hidden]=!isRowSelected
                                                        class="btn h-auto tblDelBtn"
                                                        title="Desactivar Usuario"
                                                        (click)='desactivarRowSeleccionadas()'>
                                                       <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="icono">
                                                       <path d="M20.71 16.465L17.34 13.085C17.98 13.305 18.57 13.565 19.11 13.845C20.08 14.355 20.69 15.365 20.71 16.465ZM21.9 20.485L20.49 21.895L17.88 19.295H4.70998V16.515C4.70998 15.395 5.31998 14.365 6.31998 13.855C7.60998 13.195 9.18997 12.635 10.99 12.405L2.09998 3.51501L3.50998 2.10501L21.9 20.485ZM15.88 17.295L12.88 14.295C12.82 14.295 12.77 14.295 12.71 14.295C10.34 14.295 8.41998 15.025 7.22998 15.635C6.90998 15.795 6.70998 16.135 6.70998 16.515V17.295H15.88ZM12.71 5.29501C13.81 5.29501 14.71 6.19501 14.71 7.29501C14.71 8.15501 14.17 8.88501 13.41 9.16501L14.89 10.645C15.99 9.93501 16.71 8.69501 16.71 7.29501C16.71 5.08501 14.92 3.29501 12.71 3.29501C11.31 3.29501 10.07 4.01501 9.35998 5.11501L10.84 6.59501C11.12 5.83501 11.85 5.29501 12.71 5.29501Z" fill="currentColor"/>
                                                       </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ngx-datatable #table class="material" [rows]="data" [loadingIndicator]="loadingIndicator"
                            columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                            [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                            [selectionType]="selection" (select)='onSelect($event)'>

                            <ngx-datatable-column [width]="40" [resizeable]="false" [sortable]="false"
                                [draggable]="false" [canAutoResize]="false">
                                <!-- <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                        [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                        (click)="toggleExpandRow(row)">
                                    </a>
                                </ng-template> -->
                            </ngx-datatable-column>

                            <ngx-datatable-column [width]="60" [sortable]="false" [draggable]="false"
                                [resizeable]="false" [canAutoResize]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Usuario que Asigno" [width]="80">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.usuarioAsigna}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Entidad" [width]="100">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.entidad}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Perfil" [width]="100">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.perfil}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Rol Asignado" [width]="100">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.rol}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Asignacion" [width]="50">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.activo == true ? 'Aceptada' : 'Rechazada'}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Acciones" [sortable]="false" [width]="50">
                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                    ngx-datatable-cell-template>
                                    <span>
                                        @if (!row.activo) {
                                            <button class="btn h-auto tblDelBtn2"
                                                title="Activar Usuario"
                                                (click)='activarRow(row)'>
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20.71 16.465L17.34 13.085C17.98 13.305 18.57 13.565 19.11 13.845C20.08 14.355 20.69 15.365 20.71 16.465ZM21.9 20.485L20.49 21.895L17.88 19.295H4.70998V16.515C4.70998 15.395 5.31998 14.365 6.31998 13.855C7.60998 13.195 9.18997 12.635 10.99 12.405L2.09998 3.51501L3.50998 2.10501L21.9 20.485ZM15.88 17.295L12.88 14.295C12.82 14.295 12.77 14.295 12.71 14.295C10.34 14.295 8.41998 15.025 7.22998 15.635C6.90998 15.795 6.70998 16.135 6.70998 16.515V17.295H15.88ZM12.71 5.29501C13.81 5.29501 14.71 6.19501 14.71 7.29501C14.71 8.15501 14.17 8.88501 13.41 9.16501L14.89 10.645C15.99 9.93501 16.71 8.69501 16.71 7.29501C16.71 5.08501 14.92 3.29501 12.71 3.29501C11.31 3.29501 10.07 4.01501 9.35998 5.11501L10.84 6.59501C11.12 5.83501 11.85 5.29501 12.71 5.29501Z" fill="currentColor"/>
                                                </svg>
                                            </button>
                                        }
                                        @else {
                                            <button class="btn h-auto tblEditBtn1"
                                                title="Desactivar Usuario"
                                                (click)='desactivarRow(row)'>
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 5.9C13.16 5.9 14.1 6.84 14.1 8C14.1 9.16 13.16 10.1 12 10.1C10.84 10.1 9.9 9.16 9.9 8C9.9 6.84 10.84 5.9 12 5.9ZM12 14.9C14.97 14.9 18.1 16.36 18.1 17V18.1H5.9V17C5.9 16.36 9.03 14.9 12 14.9ZM12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM12 13C9.33 13 4 14.34 4 17V20H20V17C20 14.34 14.67 13 12 13Z" fill="currentColor"/>
                                                </svg>
                                            </button>
                                        }
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
