<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
            <a routerLink="/paneles/estadisticas-usuarios" class="breadcrumb-p">
              Home
            </a>
        </li>
        <li class="breadcrumb-item bcrumb-1">
            Administración
        </li>
        <li class="breadcrumb-item">Crea perfil Usuario Entidad</li>
    </ul>
    <div class="section-body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="p-10">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row m-0">
                                    <div class="col-auto p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-title">
                                                <h2><strong>Perfiles</strong></h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-8 p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-search-area search-container">
                                                    <label for="search-input"><img src="assets/icon/Lupa.svg" class="search-icon" alt="icono Lupa"></label>
                                                    <input placeholder="{{'HEADER.SEARCH.TEXT' | translate}}" type="text"
                                                        class="browser-default search-field"
                                                        (keyup)='filterDatatable($event)' aria-label="Search box">
                                            </div>
                                            <div class="header-buttons-left">
                                                <div class="tbl-btn-style">
                                                    <button class="btn-icon icon-left btn-primary1 rounded-button"
                                                        (click)='addRow(addRecord)'>
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="currentColor"/>
                                                        </svg>
                                                    </button>
                                                    <button [hidden]=!isRowSelected
                                                        class="btn-icon icon-left btn-danger rounded-button"
                                                        (click)='deleteSelected()'>
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9ZM15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5Z" fill="currentColor"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ngx-datatable #table class="material" [rows]="data" [loadingIndicator]="loadingIndicator"
                            columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                            [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                            [selectionType]="selection" (select)='onSelect($event)'>

                            <!-- Row Detail Template -->
                            <ngx-datatable-row-detail [rowHeight]="200" #myDetailRow (toggle)="onDetailToggle($event)">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                    <div style="padding-left:35px;">
                                        <div class="col-11 col-md-11 col-lg-11">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Id</label>
                                                        <input type="text" class="form-control" readonly="" value="{{row.id}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label>Descripcion</label>
                                                        <input type="text" class="form-control" readonly="" value="{{row.descripcion}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Fecha Creacion</label>
                                                        <input type="text" class="form-control" readonly="" value="{{row.fechaCreacion}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Perfil Base</label>
                                                        <input type="text" class="form-control" readonly="" value="{{row.perfilBase == true ? 'Verdadero' : 'Falso'}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               </ng-template>
                            </ngx-datatable-row-detail>

                            <ngx-datatable-column [width]="40" [resizeable]="false" [sortable]="false"
                                [draggable]="false" [canAutoResize]="false">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                        [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                        (click)="toggleExpandRow(row)">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.59 8.29501L12 12.875L7.41 8.29501L6 9.70501L12 15.705L18 9.70501L16.59 8.29501Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column [width]="60" [sortable]="false" [draggable]="false"
                                [resizeable]="false" [canAutoResize]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Usuario" [width]="80">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.id_Usuario}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Entidad" [width]="80">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.id_Entidad}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nombre Perfil" [width]="80">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.nombre}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Correo Electronico" [width]="100">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.correoElectronico}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Inicio" [width]="100">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.fechaInicioAutorizacion}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Termino" [width]="100">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.fechaTerminoAutorizacion}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Acciones" [sortable]="false">
                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                    ngx-datatable-cell-template>
                                    <span>
                                        <button class="btn-tbl-edit h-auto"
                                            title="Modificar Usuario"
                                            (click)='editRow(row, rowIndex, editRecord)'>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.99878 17.25V21H6.74878L17.8088 9.94L14.0588 6.19L2.99878 17.25ZM5.91878 19H4.99878V18.08L14.0588 9.02L14.9788 9.94L5.91878 19ZM20.7088 5.63L18.3688 3.29C18.1688 3.09 17.9188 3 17.6588 3C17.3988 3 17.1488 3.1 16.9588 3.29L15.1288 5.12L18.8788 8.87L20.7088 7.04C21.0988 6.65 21.0988 6.02 20.7088 5.63Z" fill="currentColor"/>
                                            </svg>
                                        </button>
                                        <button
                                            title="Eliminar Usuario"
                                            class="btn-tbl-delete h-auto" (click)='deleteSingleRow(row)'>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9ZM15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5Z" fill="currentColor"/>
                                            </svg>

                                        </button>
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                        <!-- Add Record Modal Window -->
                        <ng-template #addRecord let-modal>
                            <div class="modal-header editRowModal">
                                <h4 class="modal-title" id="modal-basic-title">
                                    <div class="table-modal-header">
                                        <div class="modal-about">
                                            <div class="fw-bold p-t-10 font-17">
                                                Nuevo Usuario</div>
                                        </div>
                                    </div>
                                </h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)">
                                    <div class="input-field col s12 d-none">
                                        <input formControlName="id" class="form-control" type="hidden">
                                    </div>
                                    <div class="input-field col s12 d-none">
                                        <input formControlName="img" class="form-control" type="hidden">
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Entidad <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <select class="form-select form-control" formControlName="id_Entidad"
                                                required>
                                                <option value="" selected disabled>Seleccione...</option>
                                                @for (entidad of entidadType; track entidad) {
                                                <option [value]="entidad.value">
                                                    {{entidad.value}}
                                                </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Usuario <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <select class="form-select form-control" formControlName="id_Usuario"
                                                required>
                                                <option value="" selected disabled>Seleccione...</option>
                                                @for (usuario of usuarioType; track usuario) {
                                                <option [value]="usuario.value">
                                                    {{usuario.value}}
                                                </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Nombre Perfil <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Nombre Perfil"
                                            formControlName="nombre" required>
                                                @if (!register.get('nombre')?.valid &&
                                                register.get('nombre')?.touched) {
                                                <small class="form-text text-danger"> Nombre de Perfil es requerido</small>
                                                }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Descripcion </label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Descripcion"
                                            formControlName="descripcion">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 mb-1">
                                            <label>Correo Electronico <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-4 col-xs-4 mb-1">
                                            <input type="text" class="form-control" placeholder="Direccion De Correo Electronico"
                                                formControlName="correoElectronico" required>
                                                    @if (!register.get('correoElectronico')?.valid &&
                                                    register.get('correoElectronico')?.touched) {
                                                    <small class="form-text text-danger"> Direccion de correo electronico es requerido</small>
                                                    }
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 mb-1">
                                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Fecha Inicio Asignacion </label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="model" ngbDatepicker
                                                #dp1="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="dp1.toggle()" type="button"> <i
                                                    class="fa fa-calendar" style="cursor: pointer;"></i></button>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-xs-2 mb-1">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Fecha Termino Asignacion </label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="ngbFechaTerminoAutorizacion" ngbDatepicker
                                                #dp2="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="dp2.toggle()" type="button"> <i
                                                    class="fa fa-calendar" style="cursor: pointer;"></i></button>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-xs-2 mb-1">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Perfil Base <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 mb-1">
                                            <select class="form-select form-control" formControlName="perfilBase"
                                                required>
                                                <option value="" selected disabled>Seleccione...</option>
                                                @for (booleano of booleanoType; track booleano) {
                                                <option [value]="booleano.value">
                                                    {{booleano.value == true ? 'Verdadero' : 'Falso'}}
                                                </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary"
                                            [disabled]="!register.valid">Enviar</button>
                                        <button type="button" class="btn btn-light"
                                            (click)="modal.close('Close click')">Cerrar</button>
                                    </div>
                                </form>
                            </div>
                        </ng-template>

                        <!-- Edit Record Modal Window -->
                        <ng-template #editRecord let-modal>
                            <div class="modal-header editRowModal">
                                <h4 class="modal-title" id="modal-basic-title">
                                    <div class="table-modal-header">
                                        <div class="modal-about">
                                            <div class="fw-bold p-t-10 font-17">
                                            Editar Usuario</div>
                                        </div>
                                    </div>
                                </h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="register-form"[formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
                                    <div class="input-field col s12 d-none">
                                        <input formControlName="id" class="form-control" type="hidden">
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Entidad <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <select class="form-select form-control" formControlName="id_Entidad"
                                                required>
                                                <option value="" selected disabled>Seleccione...</option>
                                                @for (entidad of entidadType; track entidad) {
                                                <option [value]="entidad.value">
                                                    {{entidad.value}}
                                                </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Usuario <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <select class="form-select form-control" formControlName="id_Usuario"
                                                required>
                                                <option value="" selected disabled>Seleccione...</option>
                                                @for (usuario of usuarioType; track usuario) {
                                                <option [value]="usuario.value">
                                                    {{usuario.value}}
                                                </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Nombre Perfil <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Nombre Perfil"
                                            formControlName="nombre" required>
                                                @if (!register.get('nombre')?.valid &&
                                                register.get('nombre')?.touched) {
                                                <small class="form-text text-danger"> Nombre de Perfil es requerido</small>
                                                }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Descripcion </label>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-7 mb-1">
                                            <input type="text" class="form-control" placeholder="Descripcion"
                                            formControlName="descripcion">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 mb-1">
                                            <label>Correo Electronico <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-4 col-xs-4 mb-1">
                                            <input type="text" class="form-control" placeholder="Direccion De Correo Electronico"
                                                formControlName="correoElectronico" required>
                                                    @if (!register.get('correoElectronico')?.valid &&
                                                    register.get('correoElectronico')?.touched) {
                                                    <small class="form-text text-danger"> Direccion de correo electronico es requerido</small>
                                                    }
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 mb-1">
                                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Fecha Inicio Asignacion </label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="ngbFechaInicioAutorizacion" ngbDatepicker
                                                #dp1="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="dp1.toggle()" type="button"> <i
                                                    class="fa fa-calendar" style="cursor: pointer;"></i></button>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-xs-2 mb-1">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Fecha Termino Asignacion </label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="ngbFechaTerminoAutorizacion" ngbDatepicker
                                                #dp2="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="dp2.toggle()" type="button"> <i
                                                    class="fa fa-calendar" style="cursor: pointer;"></i></button>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-xs-2 mb-1">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-5 mb-1">
                                            <label>Perfil Base <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 mb-1">
                                            <select class="form-select form-control" formControlName="perfilBase"
                                                required>
                                                <option value="" selected disabled>Seleccione...</option>
                                                @for (booleano of booleanoType; track booleano) {
                                                <option [value]="booleano.value">
                                                    {{booleano.value == true ? 'Verdadero' : 'Falso'}}
                                                </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary"
                                            [disabled]="!editForm.valid">Guardar</button>
                                        <button type="button" class="btn btn-light"
                                            (click)="modal.close()">Cerrar</button>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
