<section class="main-content mx-auto">
    <div class="section-body entidad-body">
        <div class="row clearfix justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-8 body_a">
                <div class="card mx-auto asign_body" style="width: 100%">
                    <div class="p-10 table_asign">
                        <div class="brand-table">
                          <img src="assets/images/dst/anid/anid_rojo_azul.png" class="rounded mx-auto d-block" style="max-width: 110px" alt="logo"/>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row m-0" id="title_two">
                                    <div class="col-auto p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-title">
                                                <h2 class="titletwo"><strong>Inicia Sesión</strong></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row m-0 center_asign">
                                    <div class="col-auto p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-title">
                                                <p class="mb-0 login-p2 asign_login">
                                                    <small class="text-dark"> Hemos encontrado 4 entidades asociadas a tu Documento de Identificacion. Para ingresar al sitio elegir una de ellas: </small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form
                        class="validate-form"
                        [formGroup]="seleccionaEntidadForm"
                        (ngSubmit)="onSubmit()"
                        >
                            <div class="row table_center">
                                <div class="col-lg-8 table_size">
                                    <ngx-datatable #table class="material asign_material" [rows]="data" [loadingIndicator]="loadingIndicator"
                                        columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                                        [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                                        [selectionType]="selection" (select)='onSelect($event)'>

                                        <ngx-datatable-column [width]="40" [sortable]="false" [draggable]="false"
                                            [resizeable]="false" [canAutoResize]="false" [headerCheckboxable]="false"
                                            [checkboxable]="true">
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="Seleccionar Entidad" [width]="100">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                {{row.nombre_Organizacion}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-footer>
                                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                                <div class="datatable-footer-inner">
                                                <div class="datatable-footer-right">
                                                    <button class="btn anid-btn-primary auth-form-btn" (click)="onSubmit()">Seleccionar</button>
                                                </div>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-footer>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
