<app-header (menuTypeChanged)="onMenuTypeChange($event)"></app-header>

<!-- Sidebar dinámico -->
@switch (menuType) {
  @case ('horizontal') {
    <app-sidebar></app-sidebar>
  }
  @case ('vertical') {
    <app-sidebar-vertical></app-sidebar-vertical>
  }
  @case ('floating') {
    <app-sidebar-floating></app-sidebar-floating>
  }
  @default {
    <app-sidebar-vertical></app-sidebar-vertical>
  }
}

  <!-- Sidebar derecho -->
  <app-right-sidebar></app-right-sidebar>

  <!-- Contenido principal -->
  <div [dir]="direction">
    <router-outlet></router-outlet>
  </div>
